services:
  db:
    image: postgres:16-alpine
    container_name: jobtracker_dev_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data

volumes:
  pgdata_dev:
